/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  /* padding: 30px; */
  padding: 3rem;
  box-sizing: border-box;
  /*box-sizing: border-box; -> this changes the box model behavior so that the borders and the padding are no longer added to the total width or height that we specify for a box*/ }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.logo-box {
  position: absolute;
  /* top: 40px; */
  top: 4rem;
  /* left: 40px; */
  left: 4rem; }

.logo {
  /* height: 35px; */
  height: 3.5rem; }

.logo:hover {
  animation: moveInRight 1s ease-in; }

.text-box {
  position: absolute;
  /*In relation to the parent*/
  top: 40%;
  /*In relation to the parent*/
  left: 50%;
  /*In relation to the parent*/
  transform: translate(-50%, -50%);
  /*In relation to itself*/
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }

.heading-primary-main {
  display: block;
  /*So that they occupy the full width/row of their container and the next element goes to the next line/row*/
  /* font-size: 5vw; */
  /* font-size: 60px; */
  font-size: 6rem;
  /* font-size: 3.5rem; */
  /* font-size: 1.2em; */
  font-weight: 700;
  /* letter-spacing: 35px; */
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out;
  /* animation-name: moveInLeft; */
  /* animation-duration: 5s; */
  /* animation-delay: 2s; */
  /* animation-iteration-count: 3; */
  /* animation-timing-function: ease-out; */ }

.heading-primary-sub {
  display: block;
  /* font-size: 2vw; */
  /* font-size: 20px; */
  font-size: 2rem;
  /* font-size: 1.2rem; */
  /* font-size: 0.6em; */
  font-weight: 400;
  /* letter-spacing: 17.4px; */
  letter-spacing: 2.5vw;
  animation-name: moveInRight;
  animation-duration: 5s;
  animation-timing-function: ease-in; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* transform: translateX(-100px); */
    transform: translateX(-10rem); }
  80% {
    /* transform:  translateX(10px); */
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem);
    /* transform: translateX(300px); */ }
  80% {
    transform: translateX(-10); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30rem);
    /* transform: translateX(300px); */ }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  /*
                1  2    3    4
    box-shadow: 0 10px 20px rgba($color-black, 0.2);

    1.offset amount to the x axis
    2. offset amount to the y axis
    3. the blur that we want to see, 20px is a very high blur
    4. the color and opacity for the shadow

    */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  animation: moveInBottom 1.5s ease-out 1s;
  /* animation-duration: 5s; */
  /* animation-timing-function: ease-out; */
  animation-fill-mode: backwards; }
