

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    /* font-size: 10px; */
    //defines what 1 rem is 
    font-size: 62.5%; //1 rem = 10px 10px/(16px browser default) = 62.5%
    
    @include respond(tab-landscape){
        font-size: 56.25%;//1 rem = 9px, 9/16 = 56.25%
    }
    
    @include respond(tab-portrait){
        font-size: 50%;//1 rem = 8px, 8/16 = 50%
    }

    // @include respond(phone){
    //     font-size: 30%;//1 rem = 4.8px, 4.8/16 = 30%    
    // }

    @include respond(big-desktop){
        font-size: 75%;//1 rem = 12px, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    /*box-sizing: border-box; -> this changes the box model behavior so that the borders and the padding are no longer added to the total width or height that we specify for a box*/
    /* padding: 30px; */
    padding: 3rem;

    @include respond(tab-portrait){
        padding: 0;
    }
}